<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Tableros_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resumen_tableros_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Resumen_tableros_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_proyectos_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_proyectos_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_publicaciones_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_publicaciones_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Graficas_de_tableros_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_InformesReportes_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_InformesReportes_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_software_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_software_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_patentes_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_patentes_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_derechos_autor_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Reportes_derechos_autor_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_proyectos_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_proyectos_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_publicaciones_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_publicaciones_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_informes_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_informes_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_software_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_software_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_patentes_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_patentes_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_derechos_autor_profesores</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_general.Tableros_derechos_autor_profesores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Busqueda_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_proyectos_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_proyectos_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resumen_tableros_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Resumen_tableros_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Graficas_de_tableros_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_publicaciones_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_publicaciones_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_informes_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_informes_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_software_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_software_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_patentes_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_patentes_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_derechos_autor_profesor</servlet-name>
        <servlet-class>Tableros_profesores.Tableros_profesores_consulta_individual.Tableros_derechos_autor_profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_proyectos_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_proyectos_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_proyectos_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_proyectos_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Graficas_de_tableros_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resumen_tableros_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Resumen_tableros_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_publicaciones_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_publicaciones_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_publicaciones_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_publicaciones_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_informes_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_informes_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_InformesReportes_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_InformesReportes_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_software_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_software_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_software_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_software_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_patentes_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_patentes_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_patentes_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_patentes_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_derechos_autor_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_general.Tableros_derechos_autor_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_derechos_autor_alumnos</servlet-name>
        <servlet-class>Tableros_alumnos.Reportes_alumnos.Reportes_derechos_autor_alumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Busqueda_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_proyectos_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_proyectos_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resumen_tableros_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Resumen_tableros_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Graficas_de_tableros_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_publicaciones_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_publicaciones_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_informes_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_informes_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_software_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_software_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_patentes_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_patentes_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_derechos_autor_alumno</servlet-name>
        <servlet-class>Tableros_alumnos.Tableros_alumnos_consulta_individual.Tableros_derechos_autor_alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_general.Tableros_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_alumnos_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_general.Tableros_alumnos_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_alumnos_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Reportes_lineas_investigacion.Reportes_alumnos_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_general.Graficas_de_tableros_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_profesores_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_general.Tableros_profesores_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_profesores_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Reportes_lineas_investigacion.Reportes_profesores_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_cuerpos_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_general.Tableros_cuerpos_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_cuerpos_lineas_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Reportes_lineas_investigacion.Reportes_cuerpos_lineas_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_linea</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_individual.Busqueda_linea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_cuerpos_academicos</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_general.Tableros_cuerpos_academicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_integrantes_cuerpos_academicos</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_general.Tableros_integrantes_cuerpos_academicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_integrantes_cuerpos_academicos</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Reportes_cuerpos_academicos.Reportes_integrantes_cuerpos_academicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_cuerpos_academicos</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_general.Graficas_de_tableros_cuerpos_academicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_cuerpo_academico</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_individual.Busqueda_cuerpo_academico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_linea_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_individual.Tableros_linea_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_linea_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_individual.Graficas_de_tableros_linea_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_cuerpo_academico</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_individual.Tableros_cuerpo_academico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_cuerpo_academico</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_individual.Graficas_de_tableros_cuerpo_academico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_registros_linea_investigacion</servlet-name>
        <servlet-class>Tableros_lineas_investigacion.Tableros_lineas_investigacion_individual.Tableros_registros_linea_investigacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_registros_cuerpo_academico</servlet-name>
        <servlet-class>Tableros_cuerpos_academicos.Tableros_cuerpos_academicos_individual.Tableros_registros_cuerpo_academico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_general.Tableros_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_departamentos_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_general.Tableros_departamentos_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_departamentos_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Reportes_redes_colaboracionales.Reportes_departamentos_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_general.Graficas_de_tableros_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_cuerpos_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_general.Tableros_cuerpos_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_cuerpos_redes_colaboracionales</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Reportes_redes_colaboracionales.Reportes_cuerpos_redes_colaboracionales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_red_colaboracion</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_individual.Busqueda_red_colaboracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_red_colaboracion</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_individual.Tableros_red_colaboracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_tableros_red_colaboracion</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_individual.Graficas_tableros_red_colaboracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_registros_red_colaboracion</servlet-name>
        <servlet-class>Tableros_redes_colaboracionales.Tableros_redes_colaboracionales_individual.Tableros_registros_red_colaboracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_instituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_general.Tableros_instituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_departamentos_instituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_general.Tableros_departamentos_instituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_departamentos_instituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Reportes_instituciones.Reportes_departamentos_instituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_instituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_general.Graficas_de_tableros_instituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_cursos_intituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_general.Tableros_cursos_intituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes_cursos_instituciones</servlet-name>
        <servlet-class>Tableros_instituciones.Reportes_instituciones.Reportes_cursos_instituciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda_institucion</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_individual.Busqueda_institucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_institucion</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_individual.Tableros_institucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tableros_registros_institucion</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_individual.Tableros_registros_institucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas_de_tableros_institucion</servlet-name>
        <servlet-class>Tableros_instituciones.Tableros_instituciones_individual.Graficas_de_tableros_institucion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tableros_profesores</servlet-name>
        <url-pattern>/Tableros_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resumen_tableros_profesores</servlet-name>
        <url-pattern>/Resumen_tableros_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_proyectos_profesores</servlet-name>
        <url-pattern>/Reportes_proyectos_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_publicaciones_profesores</servlet-name>
        <url-pattern>/Reportes_publicaciones_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_profesores</servlet-name>
        <url-pattern>/Graficas_de_tableros_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_InformesReportes_profesores</servlet-name>
        <url-pattern>/Reportes_InformesReportes_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_software_profesores</servlet-name>
        <url-pattern>/Reportes_software_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_patentes_profesores</servlet-name>
        <url-pattern>/Reportes_patentes_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_derechos_autor_profesores</servlet-name>
        <url-pattern>/Reportes_derechos_autor_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_proyectos_profesores</servlet-name>
        <url-pattern>/Tableros_proyectos_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_publicaciones_profesores</servlet-name>
        <url-pattern>/Tableros_publicaciones_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_informes_profesores</servlet-name>
        <url-pattern>/Tableros_informes_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_software_profesores</servlet-name>
        <url-pattern>/Tableros_software_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_patentes_profesores</servlet-name>
        <url-pattern>/Tableros_patentes_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_derechos_autor_profesores</servlet-name>
        <url-pattern>/Tableros_derechos_autor_profesores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_profesor</servlet-name>
        <url-pattern>/Busqueda_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_profesor</servlet-name>
        <url-pattern>/Tableros_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_proyectos_profesor</servlet-name>
        <url-pattern>/Tableros_proyectos_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resumen_tableros_profesor</servlet-name>
        <url-pattern>/Resumen_tableros_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_profesor</servlet-name>
        <url-pattern>/Graficas_de_tableros_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_publicaciones_profesor</servlet-name>
        <url-pattern>/Tableros_publicaciones_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_informes_profesor</servlet-name>
        <url-pattern>/Tableros_informes_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_software_profesor</servlet-name>
        <url-pattern>/Tableros_software_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_patentes_profesor</servlet-name>
        <url-pattern>/Tableros_patentes_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_derechos_autor_profesor</servlet-name>
        <url-pattern>/Tableros_derechos_autor_profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_alumnos</servlet-name>
        <url-pattern>/Tableros_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_proyectos_alumnos</servlet-name>
        <url-pattern>/Tableros_proyectos_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_proyectos_alumnos</servlet-name>
        <url-pattern>/Reportes_proyectos_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_alumnos</servlet-name>
        <url-pattern>/Graficas_de_tableros_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resumen_tableros_alumnos</servlet-name>
        <url-pattern>/Resumen_tableros_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_publicaciones_alumnos</servlet-name>
        <url-pattern>/Tableros_publicaciones_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_publicaciones_alumnos</servlet-name>
        <url-pattern>/Reportes_publicaciones_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_informes_alumnos</servlet-name>
        <url-pattern>/Tableros_informes_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_InformesReportes_alumnos</servlet-name>
        <url-pattern>/Reportes_InformesReportes_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_software_alumnos</servlet-name>
        <url-pattern>/Tableros_software_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_software_alumnos</servlet-name>
        <url-pattern>/Reportes_software_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_patentes_alumnos</servlet-name>
        <url-pattern>/Tableros_patentes_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_patentes_alumnos</servlet-name>
        <url-pattern>/Reportes_patentes_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_derechos_autor_alumnos</servlet-name>
        <url-pattern>/Tableros_derechos_autor_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_derechos_autor_alumnos</servlet-name>
        <url-pattern>/Reportes_derechos_autor_alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_alumno</servlet-name>
        <url-pattern>/Busqueda_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_alumno</servlet-name>
        <url-pattern>/Tableros_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_proyectos_alumno</servlet-name>
        <url-pattern>/Tableros_proyectos_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resumen_tableros_alumno</servlet-name>
        <url-pattern>/Resumen_tableros_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_alumno</servlet-name>
        <url-pattern>/Graficas_de_tableros_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_publicaciones_alumno</servlet-name>
        <url-pattern>/Tableros_publicaciones_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_informes_alumno</servlet-name>
        <url-pattern>/Tableros_informes_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_software_alumno</servlet-name>
        <url-pattern>/Tableros_software_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_patentes_alumno</servlet-name>
        <url-pattern>/Tableros_patentes_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_derechos_autor_alumno</servlet-name>
        <url-pattern>/Tableros_derechos_autor_alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_lineas_investigacion</servlet-name>
        <url-pattern>/Tableros_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_alumnos_lineas_investigacion</servlet-name>
        <url-pattern>/Tableros_alumnos_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_alumnos_lineas_investigacion</servlet-name>
        <url-pattern>/Reportes_alumnos_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_lineas_investigacion</servlet-name>
        <url-pattern>/Graficas_de_tableros_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_profesores_lineas_investigacion</servlet-name>
        <url-pattern>/Tableros_profesores_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_profesores_lineas_investigacion</servlet-name>
        <url-pattern>/Reportes_profesores_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_cuerpos_lineas_investigacion</servlet-name>
        <url-pattern>/Tableros_cuerpos_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_cuerpos_lineas_investigacion</servlet-name>
        <url-pattern>/Reportes_cuerpos_lineas_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_linea</servlet-name>
        <url-pattern>/Busqueda_linea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_cuerpos_academicos</servlet-name>
        <url-pattern>/Tableros_cuerpos_academicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_integrantes_cuerpos_academicos</servlet-name>
        <url-pattern>/Tableros_integrantes_cuerpos_academicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_integrantes_cuerpos_academicos</servlet-name>
        <url-pattern>/Reportes_integrantes_cuerpos_academicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_cuerpos_academicos</servlet-name>
        <url-pattern>/Graficas_de_tableros_cuerpos_academicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_cuerpo_academico</servlet-name>
        <url-pattern>/Busqueda_cuerpo_academico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_linea_investigacion</servlet-name>
        <url-pattern>/Tableros_linea_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_linea_investigacion</servlet-name>
        <url-pattern>/Graficas_de_tableros_linea_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_cuerpo_academico</servlet-name>
        <url-pattern>/Tableros_cuerpo_academico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_cuerpo_academico</servlet-name>
        <url-pattern>/Graficas_de_tableros_cuerpo_academico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_registros_linea_investigacion</servlet-name>
        <url-pattern>/Tableros_registros_linea_investigacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_registros_cuerpo_academico</servlet-name>
        <url-pattern>/Tableros_registros_cuerpo_academico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_redes_colaboracionales</servlet-name>
        <url-pattern>/Tableros_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_departamentos_redes_colaboracionales</servlet-name>
        <url-pattern>/Tableros_departamentos_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_departamentos_redes_colaboracionales</servlet-name>
        <url-pattern>/Reportes_departamentos_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_redes_colaboracionales</servlet-name>
        <url-pattern>/Graficas_de_tableros_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_cuerpos_redes_colaboracionales</servlet-name>
        <url-pattern>/Tableros_cuerpos_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_cuerpos_redes_colaboracionales</servlet-name>
        <url-pattern>/Reportes_cuerpos_redes_colaboracionales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_red_colaboracion</servlet-name>
        <url-pattern>/Busqueda_red_colaboracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_red_colaboracion</servlet-name>
        <url-pattern>/Tableros_red_colaboracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_tableros_red_colaboracion</servlet-name>
        <url-pattern>/Graficas_tableros_red_colaboracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_registros_red_colaboracion</servlet-name>
        <url-pattern>/Tableros_registros_red_colaboracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_instituciones</servlet-name>
        <url-pattern>/Tableros_instituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_departamentos_instituciones</servlet-name>
        <url-pattern>/Tableros_departamentos_instituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_departamentos_instituciones</servlet-name>
        <url-pattern>/Reportes_departamentos_instituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_instituciones</servlet-name>
        <url-pattern>/Graficas_de_tableros_instituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_cursos_intituciones</servlet-name>
        <url-pattern>/Tableros_cursos_intituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes_cursos_instituciones</servlet-name>
        <url-pattern>/Reportes_cursos_instituciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda_institucion</servlet-name>
        <url-pattern>/Busqueda_institucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_institucion</servlet-name>
        <url-pattern>/Tableros_institucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tableros_registros_institucion</servlet-name>
        <url-pattern>/Tableros_registros_institucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas_de_tableros_institucion</servlet-name>
        <url-pattern>/Graficas_de_tableros_institucion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
